<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Recipe App Home</title>

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

<body>
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">

					<div class="panel-heading">
						<h1 class="panel-title">My Recipes!</h1>
					</div>

					<div class="panel-body">
						<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
							<table class="table table-hover">
								<thead class="thead-inverse">
									<tr>
										<th>ID</th>
										<th>Description</th>
										<th>Difficulty</th>
									</tr>
								</thead>
								<tr th:each="recipe : ${recipes}">
									<td th:text="${recipe.id}">123</td>
									<td th:text="${recipe.description}">XXX</td>
									<td th:text="${recipe.difficulty}">XXX</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>


</body>
</html>